.vs/
*.ide-shm
NetworkSolution/.vs/NetworkSolution/v15/.suo
*.ide-wal
NetworkSolution/.vs/NetworkSolution/v15/.suo
*.ide-wal
*.ide-shm
NetworkSolution/.vs/NetworkSolution/v15/.suo
NetworkSolution/.vs/NetworkSolution/v15/Server/sqlite3/storage.ide-shm
NetworkSolution/.vs/NetworkSolution/v15/Server/sqlite3/storage.ide-wal
