.vs/
*.ide-wal
*.ide-shm
NetworkSolution/.vs/NetworkSolution/v15/.suo
NetworkSolution/.vs/NetworkSolution/v15/Server/sqlite3/storage.ide-shm
NetworkSolution/.vs/NetworkSolution/v15/Server/sqlite3/storage.ide-wal
NetworkSolution/.vs/NetworkSolution/v16/.suo
NetworkSolution/.vs/NetworkSolution/v16/Server/sqlite3/storage.ide-shm
NetworkSolution/.vs/NetworkSolution/v16/Server/sqlite3/storage.ide-wal
NetworkSolution/MSMQHelper/.editorconfig
NetworkSolution/.vs/NetworkSolution/v15/Server/sqlite3/storage.ide-shm
NetworkSolution/.vs/NetworkSolution/v15/Server/sqlite3/storage.ide-wal
NetworkSolution/.vs/NetworkSolution/v15/.suo
